<div class="container-fluid text-center mt-2 py-2">
        <ul class="list-unstyled list-inline">
            <!-- facebook -->
            <li class="list-inline-item mr-5"><a href="https://www.facebook.com/enverablaiev" class="btn-floating btn-sm btn-fb mx-1" target="_blank"><i class="fa fa-facebook fa-2x"> </i></a></li>

            <!-- gmail -->
            <li class="list-inline-item mr-5"><a href="mailto:enverablaiev@gmail.com" class="btn-floating btn-sm btn-gplus mx-1" target="_blank"><i class="fa fa-envelope fa-2x"> </i></a></li>

            <!-- linkedin -->
            <li class="list-inline-item mr-5"><a href="https://linkedin.com/in/enverablaiev" class="btn-floating btn-sm btn-li mx-1" target="_blan"><i class="fa fa-linkedin fa-2x"> </i></a></li>

            <!-- github -->
            <li class="list-inline-item mr-5"><a href="https://github.com/Enver92" class="btn-floating btn-sm btn-dribbble mx-1" target="_blank"><i class="fa fa-github fa-2x"> </i></a></li>
        </ul>
</div>
